header{
    background-image: url('../img/pattern.png');
    background-size: auto 100%;
    padding: 30px;
    background-color: blue;
    margin-top: -10px;
    margin-left: -10px;
}

img {
    width: 200px;
    margin-top: 20px;
}

h1{
   font-size: 50px;
}

.intestazione{
    margin-top: -40px;
}

.light-grey{
    color: lightslategray;
    font-size: 20px;
}

.light-blue{
    color: lightskyblue;
    font-size: 20px;
}

.light-grey2{
    color: lightslategray;
    margin-top: -15px;
    font-size: 15px;
}

.tim1{
    width: 820px;
}

.tim2{
    width: 700px;
}

.photo1{
    margin-top: 1px;
    font-size: 13px;
}

.photo2{
    margin-top: -15px;
    font-size: 13px;
}

.lorem{
    font-size: large;
}

.yellow{
    background-color: yellow;
}

ul{
    margin-left: -30px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

th {
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #1E90FF;
    color: white;
  }

  td{
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .blue{
    background-color: #00BFFF;
  }
