header{
    background-image: url('../img/pattern.png');
    background-size: 530px;
    padding: 30px;
    background-color: blue;
    margin-top: -10px;
    margin-left: -10px;
}

.logo {
    width: 200px;
    margin-top: 20px;
}

h1{
   font-size: 50px;
}

.intestazione{
    margin-top: -40px;
}

.light-grey{
    color: lightslategray;
    font-size: 20px;
}

.light-blue{
    color: lightskyblue;
    font-size: 20px;
}

.light-grey2{
    color: lightslategray;
    margin-top: -15px;
    font-size: 15px;
}

.photo1{
    margin-top: 1px;
    font-size: 13px;
}

.photo2{
    margin-top: -15px;
    font-size: 13px;
}

.lorem{
    font-size: large;
}

.yellow{
    background-color: yellow;
}

ul{
    margin-left: -30px;
}

table {
    border-collapse: collapse;
}

.cell-25{
    width: 25%;
}

.cell-50{
    width: 50%;
}

th {
    padding-top: 16px;
    padding-bottom: 10px;
    background-color: #1E90FF;
    color: white;
    text-align: left;
}

td{
    padding-top: 16px;
    padding-bottom: 10px;
    height: 30px;
    text-align: left;
}

.blue{
    background-color: #00BFFF;
}

.grey{
    color: grey;
}

.immagine1{
    background-image: url('../img/monitor.jpg');
    padding: 100px;
    background-repeat: no-repeat;
}

.white{
    color: white;
    
}

.immagine2{
    background-image: url('../img/graph.jpg');
    padding: 100px;
    background-repeat: no-repeat;
}